*{
    font-family: "Dosis", sans-serif;
}
.dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    padding: 75px 30px 300px 30px;
    background-color: #DFF5FF;
}

.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

a {
    /* margin: 50px; */
    color: black;
    margin-right: 75px;
    text-decoration: none;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #67C6E3;
    font-family: "Dosis", sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

h1:hover{
    cursor: pointer;

}